.element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Center children vertically */
  height: 100vh; /* Take up full viewport height for vertical centering */
}


.element span {
  flex: 0 0 5%;
  color: darkblue;
  font-weight: bold;
  font-size: 50px/* Take up 5% of available space, no more, no less */
}

.element nz-tabset {
  flex: 1; /* Take up remaining available space */
}

