.full-width {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.first-tab {
  background-image: url('/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
