.eman {
    width: 200px;
    height: 100px;
    background-color: red;

}
.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.anxiety-description {
    width: 70%;
}
.anxiety-image {
    width: 30%;
    margin-left: 5%;
}
.anxiety-image img {
    height: auto;
    width: 90%;
    margin-top: 14%;
    
}