<div class="container">
    <div class="anxiety-description">
        <h1>Anxiety</h1>

        <p>It is a sense of nervousness, tension and fear that our body has when it recognizes a threat. It is almost
            impossible to calm it down when it increases. </p>

        <h3>Some ways to calm it down can be: </h3>
        <p> Accepting it, if we accept what is happening to us can help us understand ourselves and if we have a fear of
            anxiety when we get anxious, it can lead to a worse outcome such as panic attacks.
            Taking on some relaxation techniques.
            When we face anxiety, our heart rate gets rapidly increased, our muscles get tightened and breathing becomes
            more rapid and slight. It can invoke nausea, lightheadedness and sweating which are included in the symptoms
            of anxiety.
            By using some relaxation techniques, managing our psychological and physical symptoms of anxiety becomes
            easier, it diverts our attention from the anxious thoughts. These techniques also allow us to make our
            mental and physical health better.


        </p>

        <h4>  
             <p></p>
        </h4>
    </div>
    <div class="anxiety-image">
        <img src="assets/images/anxiety1.jpg">
    </div>
</div>