@if(loaded){
<div #tabsContainer >
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
            <a routerLink="">Home</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a routerLink="forum">Forum</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a>Wanna Talk ?</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a routerLink="journal">Journal</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a (click)="login()">{{ isLoggedIn ? 'Logout' : 'Login' }}</a>
        </li>
        @if(isLoggedIn){
            <li nz-menu-item class="li-menu">

                <a routerLink="select_profil"><img class="user-image" [src]="auth.myProfil.imgUrl" [alt]="auth.myProfil.image">
                    {{auth.myProfil.name}}</a>
            </li>
        }
    </ul>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <!--  <div id="floating-message" nzPopoverTitle="Title" [nzPopoverContent]="contentTemplate" [nzPopoverPlacement]="position" nz-popover [nzPopoverVisible]="isPoppoverVisible" nzPopoverTrigger="click" >-->
    <!--    <img [src]="catSourcePath" width="5%" height="auto" class="cat-image" alt="cat image for message" >-->
    <!--  </div>-->

</div>
<div id="floatingMessage" #floatingMessage>
    <button nz-button nzType="text" nz-popover [nzPopoverContent]="contentTemplate"
            [nzPopoverVisible]='isPoppoverVisible'>
        <img [src]="catSourcePath" width="70vh" height="auto" class="cat-image" alt="cat image for message">
    </button>
</div>
<ng-template #contentTemplate>
    <div>
        {{ randomMessage }}
    </div>
</ng-template>
} @else {
    <nz-spin nzSimple style="width: 100%;height: 100%" nzSize="large"></nz-spin>
}