
<h2>Ai Diary <br/> Chat Interface</h2>
<div class="chat-container">
    <ul class="chat">
        @for (message of messages;track message.id) {

            @if (imgUrl) {
                <li  [id]="message.id" [class]="message.role == 'assistant'? 'message left' : 'message right' ">
                    <img class="logo"
                         [src]="message.role == 'assistant'? 'https://firebasestorage.googleapis.com/v0/b/though-cloud.appspot.com/o/cats%2Fchat_ai.png?alt=media&token=fb801373-33a1-476a-adcc-152b003203d7' : imgUrl "
                         alt="image user">
                    <p [innerHTML]="message.content | domSanitizer"></p>
                </li>

            }
        }
    </ul>
    <div class="text_input-area" ><textarea rows="2" class="text-input" [(ngModel)]="message" (keydown)="showMessage($event)" type="text"  placeholder="Write here ...">   </textarea> <span class="send-icon" (click)="sendMessage()" style="font-size: 40px" nz-icon nzType="send" nzTheme="outline"></span>
    </div>
</div>

